/* body section */
body {
    background-color: rgb(70, 68, 187);
}

/* main card section */
#main-card {
    width: 20rem;
    height: 30rem;
    background-color: white;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 50px auto 0 auto;
    
}

/* card text section */
.card-text1{
    position: absolute;
    margin: 20rem 10px 100px 10px;  
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.card-text2{
    position: absolute;
    margin: 24rem 10px 5px 10px;  
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* image section */
.qr-image {
    width: 18rem; 
    height:17rem;
    margin-bottom: 10rem;
    border-radius: 10px;

}




/* attribution section */

.attribution { 
    font-size: 13px; 
    text-align: center;
    position: relative; 
    margin: 2rem auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.attribution a { 
    color: hsl(59, 88%, 44%); 
}